<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="NYCU">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="防疫計畫APP"
        android:roundIcon="@drawable/mask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.NYCU.lifeScience.resetpassword" />
        <activity android:name="com.example.NYCU.lifeScience.forget_password" />
        <activity android:name="com.example.NYCU.lifeScience.QRcode" />
        <activity android:name="com.example.NYCU.lifeScience.takephoto" />

        <service
            android:name="NYCU.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="NYCU.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pro_paths" />
        </provider>

        <activity android:name="com.example.NYCU.lifeScience.verify" />
        <activity android:name="com.example.NYCU.lifeScience.register" />
        <activity
            android:name="com.example.NYCU.lifeScience.login"
            android:screenOrientation="fullSensor" />
        <activity android:name="com.example.NYCU.lifeScience.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>